* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Navbar Section */

.navbar {
    background-color: #28363d;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 90px;
    width: 100%;
    max-width: 1300px;
    margin: 20px auto 0 auto;
}

.navbar__logo {
    color: #99aead;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    padding-top: 0.2rem;
    margin-bottom: 0.5rem;
    gap: 8px;
}

#logo--nav.fa-bounce {
    animation-iteration-count: 1 !important;
}

#logo--footer.fa-bounce {
    animation-iteration-count: 1 !important;
}

.navbar__nav-row {
    display: flex;
    font-size: 1.3rem;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    /* Instead of space-between, use position + margin auto */
    position: relative;
}

.navbar__menu {
    display: flex;
    list-style: none;
    text-align: center;
    gap: 30px;
    flex: 1;
    width: 100%;
    justify-content: flex-end;
    margin-left: 150px;
    font-size: 1.7rem;
}

.navbar__item {
    display: flex;
    align-items: center;
}

.navbar__links {
    color: #99aead;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
    font-weight: bolder;
    position: relative;
}

.navbar__links:hover {
    color: #852a92;
    
}

/* Animation Underline for Navbar */

a.navbar__links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.3px;             /* Slightly below the text */
  width: 0;
  height: 2px;
  background-color: #621a6d;
  transition: width 0.3s ease;
}

a.navbar__links:hover::after {
  width: 100%;             /* Full underline on hover */
}

/* Hero Section */
.hero__container {
    background-color: #dee1dd;
    padding: 100px 20px 250px 20px;
    text-align: center;
    color: #28363d;
}

/* Projects Section */
.projects__container {
    padding: 70px 30px;
}


.opening-message {
    padding-bottom: 40px;
    text-align: center;
    white-space: pre-wrap;
}

.projects__container h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.projects__container p {
    font-size: 1.2rem;
    margin-bottom: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.quotes {
    font-style: italic;
    margin-top: -20px;
    font-size: 1.2rem;
    color: #28363d;
}

.project-title {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: #621a6d;
    padding-left: 10px;
    padding-top: 20px;
}

.project__list h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #99aead;
    background-color: #28363d;
    padding: 10px 15px;
    border-radius: 5px;
}

.project__item {
    padding: 20px 70px 30px 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 5px solid #84a3a9;
    border-radius: 2px;
}

/* First project item id */
#first-border { 
    border-bottom: none;
}

/* Last project item id */
#last-border {
    border-bottom: none;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 40px;
    max-width: 400px;
}

.description {
    line-height: 1.6;
    overflow-wrap: break-word;
    text-align: left;
}

.center-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 10px;
    background-color: #c4cdc1;
    padding: 20px 40px;
    border-radius: 8px;
    line-height: 1.6;
    max-width: 300px;
    overflow-wrap: break-word;
    font-size: 1.15rem;
}

.center-details h4 {
    margin-left: -15px;
    margin-bottom: -5px;
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.project__image {
    max-width: 300px;
    width: 300px;
    height: auto;
}

/* Footer Section */
.footer__container {
    background-color: #dee1dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link-items > h2 {
    color: #28362d;
}

.footer__link--items a {
    color: #28362d;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #566e5e;
    transition: 0.3s ease-out;
}

/* Footer Logo and Copyright */
.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.website__rights {
    color: #28362d;
}