* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Navbar Section */

.navbar {
    background-color: #28363d;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 90px;
    width: 100%;
    max-width: 1300px;
    margin: 20px auto 0 auto;
}

.navbar__logo {
    color: #99aead;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    padding-top: 0.2rem;
    margin-bottom: 0.5rem;
    gap: 8px;
}

#logo--nav.fa-bounce {
    animation-iteration-count: 1 !important;
}

#logo--footer.fa-bounce {
    animation-iteration-count: 1 !important;
}

.navbar__nav-row {
    display: flex;
    font-size: 1.3rem;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    /* Instead of space-between, use position + margin auto */
    position: relative;
}

.navbar__menu {
    display: flex;
    list-style: none;
    text-align: center;
    gap: 30px;
    flex: 1;
    width: 100%;
    justify-content: flex-end;
    margin-left: 150px;
    font-size: 1.7rem;
}

.navbar__item {
    display: flex;
    align-items: center;
}

.navbar__links {
    color: #99aead;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
    font-weight: bolder;
    position: relative;
}

.navbar__links:hover {
    color: #852a92;
    
}

/* Animation Underline for Navbar */

a.navbar__links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.3px;             /* Slightly below the text */
  width: 0;
  height: 2px;
  background-color: #621a6d;
  transition: width 0.3s ease;
}

a.navbar__links:hover::after {
  width: 100%;             /* Full underline on hover */
}


/* Hero Section */
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 270px 20px 450px 20px;
    align-items: center;
    text-align: center;
    background-color: #dee1dd;
    top: 30%;
}

.sticky__colorbar {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #99aead;
    padding: 100px;
    right: 72%;
    top: 28%;
}

.hero--row {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 60px;
}

.main__img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 600px; 
    gap: 20px;
    color: #28362d;
}

.hero__text h1 {
    font-size: 3.5rem;
}


.hero__subtitle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero__subtitle h2 {
    font-size: 1.8rem;
    color: #621a6d;
}

.hero__subtitle p {
    font-size: 1.2rem;
    line-height: 1.6;
    overflow-wrap: break-word;
}

.button__bar {
    display: flex;
    position: relative;
    z-index: 5;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 10px 150px;
    background-color: #28363d;
    border-radius: 40px;
}

.buttons__container {
    display: flex;
    width: 100%;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
}

.button__text {
    display: flex;
    color: #dee1dd;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 600;
    height: 47px;
    background-color: #6d9197;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    align-content: center;
}

.button__text:hover {
    transition: color 0.3s ease;
    background-color: #852a92;
    color: #cde8ec;
}

.sticky__colorbar-2 {
    display: flex;
    flex-direction: flex-end;
    height: 70%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background-color: #99aead;
    padding: 100px;
    top: 99%;
    left: 80%;
    width: 20%;
}

/* Footer Section */
.footer__container {
    background-color: #dee1dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link-items > h2 {
    color: #28362d;
}

.footer__link--items a {
    color: #28362d;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #566e5e;
    transition: 0.3s ease-out;
}

/* Footer Logo and Copyright */
.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.website__rights {
    color: #28362d;
}